<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <style>
            .container {
                width: 720px;
            }
        </style>
    </head>
    <body>
        <script>
            const create_watchroom = () => {
                console.log("hello");
                $.get("/api/create", (res) => {
                    window.location.href = res.roomID;
                });
            };

            const join_watchroom = () => {};
        </script>

        <div id="page-container">
            <div class="shadow p-3 mb-5 bg-white rounded">
                <div id="pf1" class="pf w0 h0" data-page-no="1">
                    <div class="pc pc1 w0 h0">
                        <div
                            class="t m0 x0 h1 y0 ff1 fs0 fc0 sc0 ls0 ws0"
                            style="color: #4286f4"
                        >
                            WeWatch (/♥‿♥/)
                        </div>
                    </div>
                    <div
                        class="pi"
                        data-data='{"ctm":[1.000000,0.000000,0.000000,1.000000,0.000000,0.000000]}'
                    ></div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="mt-5 card shadow rounded">
                <div class="nav nav-tabs justify-content-center">
                    <h2 class="p-3">Create Watchroom</h2>
                </div>

                <div class="row card-body justify-content-center">
                    <button
                        type="button"
                        class="btn-lg btn-primary my-2"
                        onclick="create_watchroom()"
                    >
                        Create
                    </button>
                </div>
            </div>
        </div>
    </body>
</html>
