<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script>
            const ROOM_ID = "<%= roomID %>";
            document.getElementById("roomID").innerHTML = ROOM_ID;
        </script>
        <script>
            const leave_watchroom = () => {
                window.location.href = "/";
            };
        </script>
        <style>
            input {
                width: 400px;
            }
        </style>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row justify-content-center m-3">
                <button
                    type="button"
                    class="btn btn-lg btn-danger"
                    onclick="leave_watchroom()"
                >
                    Exit
                </button>
            </div>
            <div class="row justify-content-center m-3">
                <div class="form-group mx-2 my-2">
                    <input placeholder="Enter video url" />
                </div>
                <button
                    type="submit"
                    class="btn btn-primary mx-2 my-1"
                    onclick="changeVideo()"
                >
                    Play
                </button>
            </div>

            <div class="row justify-content-center m-3">
                <div id="youtubePlayer"></div>
            </div>

            <div class="row justify-content-center m-3">
                <p>Room ID:</p>
                <p id="roomID"></p>
            </div>
        </div>
        <script src="room.js" defer></script>
    </body>
</html>
