<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script>
            const ROOM_ID = "<%= roomID %>";
        </script>
    </head>
    <body>
        <button onclick="changeVideo(event)">Exit</button>
        <form>
            <input />
            <button onclick="changeVideo">Play</button>
        </form>

        <div id="youtubePlayer"></div>

        <p>Room ID:</p>

        <script src="room.js"></script>
    </body>
</html>
